@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html { 
    scroll-behavior: smooth;
}
header { 
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.logo { 
    text-decoration: none;
    text-transform: uppercase;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
}
.logo:hover{ 

}
.nav a { 
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.3s;
}
.nav a:hover { 
    color: #601cfc;
}
section { 
    padding: 50px 100px;
}
.main { 
    width: 100%;
    min-height: 100vh;
    /* margin-left: -150px; */
    display: flex;
    align-items: center;
    background: url(../images/hosam.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 { 
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition: .3s;
    margin-left: -47px;
}
.main h2:hover { 
color: red;
}
.main h2 span { 
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    margin-left: -6px;
}
.main h2 span:hover { 

} 
.main h3 { 
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: -30px;
}
.main h3:hover { 

}
.main-button { 
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    background-color: #3a6cf4;
    margin-bottom:40px;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    transition: 0.7s ease;
    margin-left: -10px;
}
.main-button:hover { 
    background-color: #0e49f6;
    transform: scale(1.1);
}
.Projects { 
    padding: 20px 4px ;
}
.social-icons a { 
    background-color: #313131;
    color: #b9b9b9;
    /* display: block; */
    padding: 8PX;
    font-size: 1.7em;
    margin-left: 10px;
    /* padding-right: 30px; */
    text-align: center; 
    /* margin-left: -300PX; */
    transition: .4S;
    /* padding-left: -90px; */
}
.social-icons a:hover { 
    /* color: #ff0000; */
    background-color: #ff0000;
}
.title { 
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content { 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card { 
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover { 
    transform: scale(1.1);
}
.icon { 
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info { 
    text-align: center;
}
.info h3 { 
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.Projects { 
    background-color: #000016;
}
.Projects .content { 
    margin-top: 30px;
}
.Project-card { 
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.Project-card:hover { 
    transform: scale(1.1);
}
.Project-card:hover .Project-image { 
    opacity: 0.9;
}
.Project-image img { 
    width: 100%;
    height: 100%;
}
.Project-info { 
    padding: 1em;
}
.Project-category { 
    font-size: 0.8em;
    color: #000;
}
.Project-title { 
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details { 
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover { 
    color: #601cfc;
}
.contact .icon { 
    font-size: 4.5em;
}
.contact .info h3 { 
    color: #000;
}
.contact .info p { 
    font-size: 1em;
}
.contact .info .p1 { 
    font-size: 1em;
}
.footer { 
    background-color: #000;
    color: aliceblue;
    padding: 2em 800px;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 40px;
}
.footer-title { 
    font-size: 1.3em;
    font-weight: 600;
    margin-left: 40px;
}
.footer-title span { 
    color: #4e9eff;
}
.footer .special-icons a { 
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media (max-width:767px) { 
    .footer .social-icons a { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 50px;
    }
}
.ooo { 
    background-color: #0000;
    margin-left: 40px;
    /* padding-right: -900px; */
    /* z-index: 2000; */
}
@media (max-width:1023px) { 
    header { 
        padding: 12px 20px;
    }
    .nav a { 
        padding-left: 10px;
    }
    .title{ 
        font-size: 1.8em;
    }
    section { 
        padding: 80px 20px;
    }
    .main-contact h2 { 
        font-size: 1em;
    }
    .main-contact h3 { 
        font-size: 1.6em;
    }
    .content { 
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px) { 
    body { 
        font-size: 12px;
    }
    .main-contact h2 { 
        font-size: 0.8em;
    }
    .main-contact h3 { 
        font-size: 1.4em;
    }
}
@media (max-width:300px) { 
    body { 
        font-size: 10px;
    }
    footer { 
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 20px;
        margin-left: 35px;
        margin-right: -35px;
        padding: 1em 400px;
    }
    .ooo {
        margin-left: -100px;
    }
    .footer .special-icons a { 
        font-size: 1em;
    }
    }
    .Projects .content { 
        margin-top: 30px;
        margin-left: -15px;
    }
